*{
    margin: 0 auto;
    padding: 0;
}

body{
    background-image: url("../imagens/backgroundimgblue.png");
    color: white;
}

#cabecalho{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding-top: 3vh;
    font-size: 1.2em;
    text-decoration: none;
    margin-top: 80px;
    margin-bottom: 60px;
}

#cabecalho a:link{
    text-decoration: none;
}

#cabecalho a:hover{
    text-decoration: none;
}

#cabecalho a:visited{
    text-decoration: none;
}

.config-cabecalho{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 10px black;
    border-radius: 10px;
    padding: 2px 30px;
    cursor:pointer;
    text-align: center;
    align-items: center;
    margin-top: 40px;
}

.config-cabecalho img{
    margin-top: -90px;
}

#config-cabecalho-home img{
    margin-top: -130px;
}


.config-cabecalho p{
    text-align: center;
    color: black;
    margin-top: 10px;
    font-weight: 900;
}

#config-cabecalho-fake p{
    margin-top: 20px;
}

#cabecalho p:visited{
    color: black;
}

.config-cabecalho {
    color: black;
    background: rgb(255, 255, 255);
    transition: transform 0.3s;
    transform: translateX(0) scale(1);
}
  
.config-cabecalho:hover, .config-cabecalho:focus {
    color: red;
    transform: translateX(10px) scale(1.1);
}

#imagem{
    margin-top: 60px;
}

#conteudo-principal{
display: flex;
flex-direction: column;
justify-content: center;
background-image: url("../imagens/backgroundimgblue.png");
max-width: 800px;
margin-top: 110px;
border-radius: 15px;
box-shadow: 0px 5px 10px black;
}

#temperatura{
    margin-bottom: 50px;
    margin-top: 80px;
}

#conteudo-principal input{
    padding: 5px;
    width: 250px;
    height: 35px;
    border-radius: 5px;
    box-shadow: 0px 5px 10px black;
    background: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
}

.botao{
    margin-top: 10px;
    margin-bottom: 80px;
    padding: 5px;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    box-shadow: 0px 5px 10px black;
}

.botao:hover{
    cursor: pointer;
    background-color: red;
    color: white;
}
.rodape{
    color: white;
    text-align: center;
    line-height: 30px;
    margin-top: 175px;
    margin-bottom: 20px;
    position: relative;
}